* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 854px;
  background-image: url('/media/background-image.jpg');
  background-color: #0c0358;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
}

.container {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.page-title {
  color: #ffffff;
  margin: 5px 0;
}

button {
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

h2 {
  color: white;
  opacity: 0;
}

#opcoes {
  color: white;
  margin-top: 10px;
  opacity: 0;
}

#opcoes input {
  margin-left: 30px;
  margin-right: 5px;
}

#nadaSelecionado {
  color: white;
  margin: 10px 0;
  padding: 2px 5px;
  font-weight: bold;
  background-color: white;
  color: darkblue;
  opacity: 0;
}

#resultado {
  display: flex;
  background: #0c0358;
  width: 320px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-radius: 20px;
  padding: 0px;
  margin-bottom: 5px;
}

#pontosJogador {
  margin-left: 20px;
  color: #ffffff;
}
#pontosMaquina {
  margin-right: 20px;
  color: #ffffff;
}

#pMaquina,
#pJogador,
#divisor {
  color: #ffffff;
  font-size: 30px;
}

.imagens {
  display: flex;
  justify-content: space-around;
}

img {
  width: 340px;
}

#pontuacao {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  margin-top: 40px;
}

#mensagemResultado {
  background-color: yellow;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 2px 5px;
  opacity: 0;
}

#btnJogar {
  margin-bottom: 0px;
}

#btnZerar {
  position: absolute;
  bottom: 30px;
  right: 755px;
}
