* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 854px;
  background-image: url('/media/background-image.jpg');
  background-color: #0c0358;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
}

.container {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  color: #ffffff;
  margin: 5px 0;
}

button {
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

h2 {
  color: white;
}

.opcoes {
  color: white;
  margin-top: 10px;
}

.opcoes input {
  margin-left: 25px;
}

#nada-selecionado {
  color: white;
  margin-top: 10px;
}

#resultado {
  display: flex;
  background: #0c0358;
  width: 320px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-radius: 20px;
  padding: 0px;
  margin-bottom: 20px;
}

#pontosJogador {
  margin-left: 20px;
  color: #ffffff;
}
#pontosMaquina {
  margin-right: 20px;
  color: #ffffff;
}

#pMaquina,
#pJogador,
#divisor {
  color: #ffffff;
  font-size: 30px;
}

.imagens {
  display: flex;
  justify-content: space-around;
}

img {
  width: 340px;
}

/* #resultado {
  margin: 0 auto;
  color: white;
  font-size: 30px;
  background-color: #0c0358;
  padding: 5px 10px; 
} */
